<!DOCTYPE html>

<html lang="en">

    <head>
        <title>work request</title>
    </head>

    <body>
        
        
         <form action="/" method="post">
            
            <p>name</p>

            <input name="NAME" autocomplete="on" autofocus="on">
         </br>


             <br>
             
             <p>address</p>

            <input name="ADDRESS">  
        </br>


                        <p>day</p>

            <input name="DAY" autocomplete="on" autofocus="on">
        </br>


             <p>job type</p>

            <input name="JOB TYPE">  
        </br>














        <br></br>
            <button type="submit">click here</button>
        
         </form>
         {{ N }}
         <br>
         {{ ADDRESS }}

    </body>

</html>
