<!DOCTYPE html>

<html lang="en">

    <head>
        <title>sign up</title>
    </head>

    <body>
        
        
         <form action="/" method="post">
            
            <p>name</p>

            <input name="NAME" autocomplete="off" autofocus="on">
            <br>
             <p>zone</p>
            <input name="ZONE">
            <br>

            <button type="submit">click here</button>
        
         </form>
         {{ N }}
         <br>
         {{ ZONE }}
    </body>

</html>
