<!DOCTYPE html>

<html lang="en">

    <head>
        <title>work request</title>
    </head>

    <body>
        
        
         <form action="/" method="post">
            
            <p>name</p>

            <input name="NAME" autocomplete="off" autofocus="on">
            <br>
             <p><address></address></p>
            <input name="address"> address </br>

            <button type="submit">click here</button>
        
         </form>
         {{ N }}
         <br>
         {{ ADDRESS }}

    </body>

</html>
